{% extends 'recipe/base.html' %}
{% block title %} OnlineRecipes | Recipes {% endblock %}
{% block content %}
{% load static %}
<h4 style="background-color: rgba(0, 0, 253, 0.76); padding: 50px; color: white; text-align: center;">Featured Recipes</h4>
<form class="d-flex container my-4" role="search" method="POST" action="{% url 'search-recipe' %}">
  {% csrf_token %}
  <input class="form-control me-2" name="search-recipe" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% for recipe in all_recipes %}
  <div class="">
    <div class="card mx-auto mb-2 d-flex flex-row shadow" style="width: 80%;">
      <img src="/media/{{recipe.recipe_image}}" style="width:259px; height:190px; object-fit: cover;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5><a href="{% url 'view-recipe' recipe.id %}">{{recipe.recipe_title|truncatechars:25}}</a></h5>
        <p class="card-text">{{recipe.recipe_description|truncatechars:40}}</p>
      </div>
      <div class="actions d-flex my-auto">
        <a href="#" style="list-style: none; text-decoration: none;"><button type="button" class="btn btn-outline-danger mx-2" style="height:50px;" name="button">Delete</button></a>
        <a href="#" style="list-style: none; text-decoration: none;"><button type="button" class="btn btn-outline-primary mx-2" style="height:50px;" name="button">Update</button></a>
        <a href="{% url 'view-recipe' recipe.id %}" style="list-style: none; text-decoration: none;"><button type="button" class="btn btn-outline-info mx-2" style="height:50px;" name="button">View Recipe</button></a>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
