{% extends 'recipe/base.html' %}
{% block title %} OnlineRecipes | Home {% endblock %}
{% block content %}
<h4 style="background-color: rgba(0, 0, 253, 0.76); padding: 50px; color: white; text-align: center;">Register</h4>
<form class="container card shadow p-3" method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="alert alert-primary" role="alert">
        Register yourself in OnlineRecipes!
    </div>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
