{% extends 'projects/base.html' %}
{% block content %}
    <div style="background-color: #A084E8; height: 30vh; display: flex; justify-content: center; align-items: center;">
        <form>
            <div style="display: flex; justify-content: space-between; align-items: center; border: 2px solid #A084E8;">
                <input type="text" style="width: 800px; height: 40px; border-radius: 10px; border: none; outline: none; padding: 5px; color: #A084E8;">
                <p>| Search</p>
            </div>
        </form>
    </div>
    {% for project in projects %}
        <li><a href="{% url 'project' project.p_id %}">{{project.project_name}}</a></li>
    {% endfor %}
{% endblock %}