{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/review.css' %}">
    <div class="" style="display: grid; grid-template-columns: 1.5fr 0.5fr 3fr;">
        <div class="left p-3 m-3">
            <img src={{project.project_image.url}} alt="" width="100%" style="border-radius: 10px; margin: 2px;">
            <p>Skills Used</p>
            {% for tag in tags %}
                <p style="background-color: #DBC4F0; padding: 2px 5px; color: #A084E8; border-radius: 2px; border: 0.5px solid #A084E8; display: inline-block;">{{tag}}</p>
            {% endfor %}
            <p>Links</p>
            <div class="dflex flex-column">
                {% if  project.link %}
                    <a style="color: #A084E8; margin: 5px;" href="{{project.link}}">Link ↗</a>
                {% endif %}
                {% if project.source_code %}
                    <a style="color: #A084E8; margin: 5px;" href="{{project.source_code}}">Source Code ↗</a>
                {% endif %}
            </div>
        </div>
        <div class="line" style="width: 1px; background-color: #DBC4F0; height: 100%; margin-left: 50px;" >
        </div>
        <div class="right mt-5 pe-5">
            <h3 class="title">{{project.project_name}}</h3>
            <p style="color: gray;">{{project.project_desc}}</p>
            {% if project.star %}
                <i id="star" class="fa fa-solid fa-star" style="cursor: pointer; color: #A084E8;"></i>
            {% endif %}
            <form action="">
                <textarea name="review" id="" cols="70" rows="10" style="border: 2px solid #A084E8; border-radius: 10px; margin-top: 5px;"></textarea>
                <br>
                <button style="background-color: #A084E8; margin-top: 10px; padding: 10px 20px; border-radius: 5px; outline: none; border: none; color: white;">Submit Review</button>
            </form>
            <div class="reviews">
                <section id="testimonials">
                    {% for review in project.review_set.all %}
                    <div class="testimonial-box-container">  
                        <div class="testimonial-box"> 
                            <div class="box-top">                  
                                <div class="profile">
                                    <div class="profile-img">
                                        <a href="{% url 'profile' review.owner.p_id %}"><img src="{{review.owner.profile_img.url}}" /></a>
                                    </div>
                                    <div class="name-user">
                                        <strong>{{review.owner.name}}</strong>
                                        <span>{{review.owner.email}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="client-comment">
                                <p>{{review.body}}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
        </div>
        
    </div>

    
{% endblock %}

