{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <div style="background-color: #A084E8; height: 30vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <form method="GET" action="{% url 'user' %}">
            <div class="container" style="border: 2px solid whitesmoke; border-radius: 10px; box-shadow: 5px 5px #DBC4F0;">
                <input type="text" id="box" placeholder="" class="search__box" style="background: none; outline: none; border: none; color: whitesmoke; width: 800px; height: 40px;" name="search_query">
                <i class="fas fa-search search__icon" style="cursor: pointer; color: white;" id="icon" onclick="toggleShow()"></i>
            </div>
        </form>
        <p style="color: white; margin-top: 10px; font-size: 15px;">Every great developer you know got there by solving problems they were unqualified to solve until they actually did it.</p>
    </div>
    <div class="container" style="display: grid; grid-template-columns: 1fr 1fr 1fr; " >
        {% for profile in all_profiles %}
            <section class="mx-3 my-5" style="max-width: 23rem; ">
                <a href="{% url 'profile' profile.p_id %}" style="text-decoration: none;">
                    <div class="card testimonial-card mt-2 mb-3">
                        <div class="card-up aqua-gradient"></div>
                        <div class="avatar mx-auto white">
                        <img src="{{profile.profile_img.url}}" class="rounded-circle img-fluid"
                            alt="woman avatar" style="object-fit: cover; width: 100px; height: 100px;">
                        </div>
                        <div class="card-body text-center">
                        <h4 class="card-title font-weight-bold">{{profile.name}}</h4>
                        <hr>
                        <p><i class="fas fa-quote-left"></i>{{profile.short_desc}}</p>
                        </div>
                    </div>
                </a>
            </section>
        {% endfor %}
    </div>

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
        <div aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                {% if all_profiles.has_previous %}
                  <a class="page-link" href="?page={{all_profiles.previous_page_number}}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                {% endif %}
              </li>
              {% for page in paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
              {% endfor %}
              <li class="page-item">
                {% if all_profiles.has_next %}
                    <a class="page-link" href="?page={{all_profiles.next_page_number}}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                {% endif %}
              </li>
            </ul>
        </div>
    </div>
{% endblock %}