<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Text Utilizations</h1>
    <form action="/analyze" method="get">
        <textarea name="text" cols="30" rows="10" style="width: 1158px; height: 154px;"></textarea>
        <input type="checkbox" name="remove_punctuation"> Remove punctuations <br>
        <input type="checkbox" name="capitalize_text"> Capitalize Text <br>
        <button>Analyze text</button>
    </form>
</body>
</html>