{% extends 'shop/base.html' %}
{% block card %}
<div class="container">
  <div class="container grid row my-5">
    <h4>Flash Deals grab now !</h4>
    <h1>{{ info.1.product_name }}</h1>
    
      {% for i,info in data.items %}
          <div class="card col-4">
              <img class="card-img-top" src='/media/{{info.i.product_image}}' width="100px" height="200px" alt="Card image cap">
              <div class="card-body">
              <h4 class="card-title"><a>{{ info.i.product_name }}</a></h4>
              <p class="card-text">{{info.i.product_description}}</p> 
              <a href="#" class="btn btn-primary m-2">Add to cart</a>        
              </div>       
          </div>
      {% endfor %}
  </div>
</div>
{% endblock %}